base/chromedriver
testrun/
output/
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
.virtual_documents/
*/.ipynb_checkpoints/*
.vscode
.DS_Store
*.pyc
*.zip

base/report.html
base/output.xml
base/log.html
base/geckodriver.log
